body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a3a3a3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 45px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.balance-box {
    text-align: center;
    margin-bottom: 25px;
    font-size: 0.8em;
    background-color:lightgray;
    width: 40%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[readonly] {
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0505ab;
}

#console-output {
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: 5px;
    color: #721c24;
}


@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }
}